<% var title = 'Mon Compte' %>
<!doctype html>
<html>
	<%- include('template/head', {title: title}); %>

	<body>
		<%- include('template/header'); %>

		<main class="container">
			<h1><%=title%></h1>
		</main>

		<%- include('template/footer'); %>
		<script type="text/javascript" src="js/account.js"></script>
	</body>

</html>