<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Crumble</h5>
                <p class="grey-text text-lighten-4">By ElRige - Pierre Conord</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/materialize.min.js"></script>
<script type="text/javascript" src="js/lib/ejs_production.js"></script>
<script type="text/javascript" src="js/restapi.js"></script>
<script type="text/javascript" src="js/common.js"></script>