<head>
    <meta charset="utf-8" />
    <title>
        <%=title%> - Crumble
    </title>

    <link type="text/css" rel="stylesheet" href="css/materialFontIcon.css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>