<header>
	<ul id="dropdownMonth" class="dropdown-content">
		<li><a id="dropdownMonthPrevious">Mois précédent</a></li>
		<li><a id="dropdownMonthNext">Mois suivant</a></li>
	</ul>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo">Crumble</a>
				<ul class="right hide-on-small-only">
					<li><a class="dropdown-button" id="dropdownMonthButton" href="#!" data-activates="dropdownMonth"><span id="dropdownMonthTitle"></span><i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>