<header>
	<ul id="dropdownMonthTop" class="dropdown-content">
		<li class="autocomplete">
			<div class="monthSelect-card">
				<input id="monthSelect" placeholder="Mois Année">
				<i class="material-icons">search</i>
			</div>
		</li>
	</ul>
	<div class="navbar-fixed">
		<nav>
			<div class="container">
				<div class="nav-wrapper">
					<a href="" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
					<a href="#" class="brand-logo center">Crumble</a>
					<ul class="right hide-on-small-only">
						<li><a class="nav-arrow dropdownMonthPrevious"><i class="material-icons">arrow_left</i></a></li>
						<li><a class="dropdownMonthButton" data-activates="dropdownMonthTop"><span class="dropdownMonthTitle"></span></a></li>
						<li><a class="nav-arrow dropdownMonthNext"><i class="material-icons">arrow_right</i></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<ul id="slide-out" class="side-nav fixed">
		<li>
			<div class="navbar-fixed">
				<nav>
					<ul>
						<li class="left"><a class="nav-arrow dropdownMonthPrevious"><i class="material-icons">arrow_left</i></a></li>
						<li class="dropdownMonthButtonContainer">
							<a class="dropdownMonthButton" href="#!" data-activates="dropdownMonthLeft">
								<span class="dropdownMonthTitle"></span>
							</a>
						</li>
						<li class="right"><a class="nav-arrow dropdownMonthNext"><i class="material-icons">arrow_right</i></a></li>
						<div style="clear:both;"></div>
					</ul>
					<ul id="dropdownMonthLeft" class="dropdown-content">
						<li class="autocomplete">
							<div class="monthSelect-card">
								<input id="monthSelect" placeholder="Mois Année">
								<i class="material-icons">search</i>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</li>
		<li class="no-hover"><a></a></li>
		<li><a class="subheader">Mes Vues</a></li>
		<li><a class="waves-effect" href="/operations"><i class="material-icons">list</i>Opérations</a></li>
		<li><a class="waves-effect" href="/goals"><i class="material-icons">dashboard</i>Objectifs</a></li>
		<li><a class="subheader">Mes Paramètres</a></li>
		<li><a class="waves-effect" href="/recurrent"><i class="material-icons">loop</i>Récurrence</a></li>
		<li><a class="waves-effect" href="/preventive"><i class="material-icons">security</i>Prévoyance</a></li>
		<li><a class="waves-effect" href="/account"><i class="material-icons">person</i>Mon compte</a></li>
	</ul>
</header>