<header>
	<ul id="dropdownMonth" class="dropdown-content">
		<li><a href="#!">Mois précédent</a></li>
		<li><a href="#!">Mois suivant</a></li>
		<li class="divider"></li>
		<li><a href="#!">Juin 2016</a></li>
		<li><a href="#!">Juillet 2016</a></li>
		<li><a href="#!">Aout 2016</a></li>
		<li><a href="#!">Septembre 2016</a></li>
		<li class="divider"></li>
		<li><a href="#!">Novembre 2016</a></li>
		<li><a href="#!">Décembre 2016</a></li>
	</ul>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo">Crumble</a>
				<ul class="right hide-on-small-only">
					<li><a class="dropdown-button" id="dropdownMonthButton" href="#!" data-activates="dropdownMonth">Octobre 2016<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>